system {
    root-authentication {
        encrypted-password "$6$.R0viVXj$eTFDjmBeRLkrWYc/Nyxe86DGiHAuigQiLi.MJcCl3MjtK3Pc34Uo38mu2Yyc8tVlehioyASDZZLWrztVawvty1"; ## SECRET-DATA
    }
    login {
        user awx {
            class super-user;
            authentication {
               encrypted-password "$6$nZwPiJwY$MhZ8euN/EnfAFh/apXoh8dlcpapBWey1vpcM9EKlEiIwI/JqmHUre3vhoBSplLDgqnV4/P0IBh.IbCQfowHKh."; ## SECRET-DATA
            }
        }
    }
    services {
        netconf {
            ssh;
        }
    }
}
chassis {
    delete: auto-image-upgrade;
}
interfaces {
    ge-0/0/0 {
        unit 0 {
            family inet {
                address 10.84.0.101/24;
            }
        }
    }
}
routing-options {
    static {
        route 10.84.9.15/32 next-hop 10.84.0.1;
    }
}
