system {
    root-authentication {
        encrypted-password "$6$.R0viVXj$eTFDjmBeRLkrWYc/Nyxe86DGiHAuigQiLi.MJcCl3MjtK3Pc34Uo38mu2Yyc8tVlehioyASDZZLWrztVawvty1"; ## SECRET-DATA
    }
    login {
        user awx {
            class super-user;
            authentication {
               encrypted-password "$6$nZwPiJwY$MhZ8euN/EnfAFh/apXoh8dlcpapBWey1vpcM9EKlEiIwI/JqmHUre3vhoBSplLDgqnV4/P0IBh.IbCQfowHKh."; ## SECRET-DATA
               ssh-rsa "ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQDud6LZdk5n1xhGOBw0W9NV//DzixB7fJnkBP63/ogAFU8CieQqXc0FbQO2hgbIhVVPFWaNfmKoSi7Y3sGuKrreIHyCKEWSLVLk0noFC2KMtJkmp9KQ+TjTX0+BKmZyil8lhpnJX4Rhm3Wv+J31yTclYirxNFITReQ8U2GDMXiGYOBUlwK6L7qracL0seeIe6c/CMiPQagxb6ucCf0pBapN6YQBiTIWuG6oRQz+b18GCiaTZ7ulyIF8KASfdKSiwPdm+F/Ox0brhvsIavAsUiwGhvkZlJ4EEkRjrLDtvv6TnZmPhkTRP2obF3EPrO3AmlTgc2bwWwS9VKPS0ZYLEDT3 ubuntu@ubuntu-virtual-machine";
            }
        }
    }
    services {
        netconf {
            ssh;
        }
    }
}
chassis {
    delete: auto-image-upgrade;
}
interfaces {
    ge-0/0/0 {
        unit 0 {
            family inet {
                address 10.84.0.101/24;
            }
        }
    }
}
routing-options {
    static {
        route 10.84.9.15/32 next-hop 10.84.0.1;
    }
}
